{{ header }}
{{ column_left }}


<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">


                <ul class="breadcrumb">
                    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb.text }}</a></li>
                    <?php } ?>
                </ul>
            </div>
        </div>


        <div class="container-fluid">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }} </h3>
                </div>
                <div class="panel-body">

                    <div id="status"></div>


                    <div class="container">
                        <div id="alertJson" role="alert"></div>

                        <div class="alert alert-info"><i class="fa fa-info-circle"></i>    {{ text_help_count_clicked }}   -    {{ countClicked }}</div>





                        <table id="dateStore" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <th>{{ text_row_id }}</th>
                                <th>{{ text_row_url }}</th>
                            </thead>


                            {% for row in rows %}
                                <tr>
                                    <td>

                                     {% for row_store in row %}

                                         {%  if row_store.store_name  %}
                                                <div class="col-sm-6 ">{{ row_store.store_name }} </div>
                                                <div class="col-sm-6"><span class="badge">{{ row_store.clicekd }}</span></div>
                                                <hr class="col-sm-10">
                                         {% endif %}
                                     {% endfor %}

                                    </td>
                                    <td><a href="{{ row.url }}">{{ row.name }} </a> &nbsp;
                                        <a href="{{ row.product_page }}" target="_blank"><i class="fa fa-external-link fa-fw text-danger" aria-hidden="true"></i> </a>
                                    </td>

                                </tr>
                            {% endfor %}


                        </table>

                    </div>


                </div>
            </div>
            <div class="pagination">{{ pagination }}</div>
        </div>

    </div>
</div>





{{ footer }}
